{% extends 'base.html.twig' %}
{% block title %}index{% endblock %}

{% block body %}
    <a href="{{ path('blog_show', { 'slug': "qui" }) }}">
        {% trans %}article{% endtrans %}
    </a>
    <br>
<a href="{{ path('blog_index') }}">
        {% trans %}all_articles{% endtrans %}
    </a>{% endblock %}