<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}        {{ encore_entry_link_tags('app') }}{% endblock %}
</head>

<header>{% include 'Inc/navbar.html.twig' %}</header>
<div class="container">
    {% block body %}{% endblock %}
    {% block footer %}
        <footer class="app-footer">
            <div class="container">
                <div>
                    <div class="container-fluid text-center">
                        Copyright &copy; {{ "now"|date("Y") }}
                    </div>
                </div>
            </div>
        </footer>

</div>
    {% endblock %}

    {% block javascripts %}  {{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
